    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About </h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-2">
     <%= image_tag("indiana.jpg", width: "90") %>
     <%= image_tag("texas.jpg", width: "130") %>
     <%= image_tag("maryland.jpg", width: "130") %>
     <%= image_tag("florida.jpg", width: "130") %>
        </div>


        <div class="col-lg-7">
         <%= image_tag("about.jpg", height: "300", class: "aboutwrap") %></a>
          <p><b>Caitlin Johnston, 24, is a staff writer at the Tampa Bay Times whose work has also appeared in The Dallas Morning News, Poynter.org and the Baltimore Sun. </b> While with the Tampa Bay Times, she spent 10 days on the road with a local band, detailing their journey to the Bonnaroo summer music festival. She covers regional news, including military life, human trafficking and county politics.</p>
          <p>Prior to her work in Florida, she was an editorial assistant for the American Journalism Review, where she wrote the Spring 2012 cover story on the effects of tablets on legacy news outlets. Her reporting has taken her from London to Kenya, Dallas to D.C. </p>
          <p>She is a 2011 graduate of Indiana University, where she studied journalism and political science. While at IU, she competed in the Hearst National Journalism Awards Championship, placing second.  Other honors include Indiana Society of Professional Journalists Collegiate Journalist of the Year, the European Union Press Fellowship and awards in news and feature writing from the Columbia Scholastic Press Association. She earned her master's from the University of Maryland in 2012.</p>
          <p>In addition to journalism, Johnston has a passion for running, Bruce Springsteen and rock climbing. She recently completed her first half-marathon. Though she has lived all over, she fervently defends her home state of Indiana and often finds new ways to display her Hoosier pride.
        </div>

      <div class="col-lg-3">
        </div>

      </div>

    </div><!-- /.container -->