    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About
        </div>

      </div>

      <div class="row">

        <div class="col-lg-3">
     <%= image_tag("indiana.jpg", width: "160") %></a>
     <%= image_tag("texas.jpg", width: "160") %></a>
     <%= image_tag("maryland.jpg", width: "160") %></a>
     <%= image_tag("florida.jpg", width: "160") %></a>
        </div>

        <div class="col-lg-9">
         <%= image_tag("about.jpg", height: "300") %></a>
          <p><b>Caitlin Johnston, 24, is journalist whose work has appeared in the Tampa Bay Times, The Dallas Morning News and the Baltimore Sun. </b> While with the Tampa Bay Times, she spent 10 days on the road with a local band, detailing their journey to the Bonnaroo summer music festival. She covers regional news, including military life, human trafficking and county politics. Prior to her work in Florida, she was an editorial assistant for the American Journalism Review, where she wrote the Spring 2012 cover story on the effects of tablets on legacy news outlets. Her reporting has taken her from London to Kenya, Dallas to D.C. She is a 2011 graduate of Indiana University, where she studied journalism and political science. While at IU, she competed in the Hearst National Journalism Awards Championship, placing second.  Other honors include Indiana Society of Professional Journalists Collegiate Journalist of the Year, the European Union Press Fellowship and awards in news and feature writing from the Columbia Scholastic Press Association. She earned her master's from the University of Maryland in 2012.</p>
        </div>

      </div>

    </div><!-- /.container -->